.form-group .alert-danger {
    margin-top: 5px;
}

.forms-fields .btn-group {
    margin: 5px 0;
    min-width: 150px;
}

.forms-preview {
    margin: 5px 0;
    border-radius: 4px;
}

.forms-preview > .forms-preview-header {
    border-bottom: 1px solid #ccc;
}

.forms-preview .field-input {
    display: inline-block;
    width: 80%;
}

.forms-preview .field-remove {
    cursor: pointer;
}