{% extends 'dynforms/layout_base.html' %}

{% load i18n %}
{% load static %}


{% block title %}
    {% trans 'Formularze' %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css"
          href="{% static "dynforms/custom/css/forms.css" %}">
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans 'Formularze' %}</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans 'Zdefiniowane formularze' %}
        </div>
        <table class="table table-bordered forms-list">
            <thead>
                <tr>
                    <th>{% trans 'Id' %}</th>
                    <th>{% trans 'Nazwa' %}</th>
                    <th>{% trans 'Maks. liczba zgłoszeń' %}</th>
                    <th>{% trans 'Liczba zgłoszeń' %}</th>
                    <th>{% trans 'Dostępny w językach' %}</th>
                    <th style="width: 6%;"></th>
                </tr>
            </thead>
            <tbody>
                {% for form in forms %}
                    <tr>
                        <td>{{ form.id }}</td>
                        <td>
                            <a href="{% url 'manage_form' forms_id=form.id %}">
                                {{ form.name }}
                            </a>
                        </td>
                        <td>
                            {% if form.max_submissions == 0 %}
                                {% trans 'Nieograniczona' %}
                            {% else %}
                                {{ form.max_submissions }}
                            {% endif %}
                        </td>
                        <td>{{ form.submission_count }}</td>
                        <td>
                            {{ form.languages_names|join:", " }}
                        </td>
                        <td>
                            <a href="#" class="remove-form"
                               data-href="{% url 'manage_form' forms_id=form.id %}"
                               data-method="DELETE">
                                <i class="glyphicon glyphicon-trash" style="color: red;"></i>
                            </a>
                            <a href="{% url 'forms_submissions' forms_id=form.id %}">
                                <i class="glyphicon glyphicon-list"></i>
                            </a>
                            <a href="{% url 'forms_template' forms_id=form.id %}" style="float: right; padding-right: 10px;">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">{% trans 'Brak zdefiniowanych formularzy' %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'new_forms_template' %}" class="btn btn-primary">
        {% trans 'Zdefiniuj nowy formularz' %}
    </a>

    <script>
        (function() {
            $('.forms-list .remove-form').on('click', function(evt) {
                evt.preventDefault();

                var $this = $(this),
                    csrfToken = "{{ csrf_token }}";
                $.ajax({
                    url: $this.data('href'),
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader('X-CSRFToken', csrfToken);
                    },
                    method: $this.data('method'),
                    success: function(data) {
                        if (data.success) {
                            $this.closest('tr').remove();
                        }
                    }
                })
            });
        })();
    </script>
{% endblock %}