{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}
                {% trans "Dynamiczne formularze" %}
            {% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block scripts %}
            <script src="{% static "dynforms/jquery/jquery.js" %}"></script>
            <script src="{% static "dynforms/bootstrap/js/bootstrap.js" %}"></script>
        {% endblock %}
        {% block styles %}
            <link rel="stylesheet" type="text/css"
                  href="{% static "dynforms/bootstrap/css/bootstrap.css" %}">
            <link rel="stylesheet" type="text/css"
                  href="{% static "dynforms/bootstrap-languages/languages.css" %}">
            <link rel="stylesheet" type="text/css"
                  href="{% static "dynforms/custom/css/base.css" %}">
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="{% url 'forms' %}">
                            <i class="glyphicon glyphicon-user"></i>
                            {{ request.user.get_full_name }}
                        </a>
                    </li>
                    {% if perms.dynforms.can_translate_forms or request.user.is_superuser %}
                        {% url 'forms_translations' as translations_url %}
                        <li class="{% if request.get_full_path == translations_url %}active{% endif %}">
                            <a href="{{ translations_url }}">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                {% trans 'Formularze do tłumaczenia' %}
                            </a>
                        </li>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        {% url 'forms' as forms_url %}
                        {% url 'new_forms_template' as new_forms_url %}
                        {% url 'forms_template' forms_id=form_model.id as forms_template_url %}
                        <li class="{% if request.get_full_path == forms_url or request.get_full_path == new_forms_url or request.get_full_path == forms_template_url %}active{% endif %}">
                            <a href="{{ forms_url }}">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                {% trans 'Szablony formularzy' %}
                            </a>
                        </li>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        {% url 'languages' as languages_url %}
                        <li class="{% if request.get_full_path == languages_url %}active{% endif %}">
                            <a href="{{ languages_url }}">
                                <i class="glyphicon glyphicon-globe"></i>
                                {% trans 'Dostępne języki' %}
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="glyphicon glyphicon-off"></i>
                            {% trans 'Wyloguj się' %}
                        </a>
                    </li>
                </ul>
            </div>
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>